body {
  font-family: arial, sans-serif;
  font-size: small;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
}
li a{
  float:left;
  display: inline;
  padding: 12px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
#signin{
  background-color: #4285f4;
  display: inline-block;
  text-align: center;
  color: white;
  line-height: 28px;
  font-weight: bold;
  border: 1px solid #4285f4;
  border-radius: 2px;
  font-size: 1em;
  padding: 2px 12px 2px;
  margin-top: -15px;
}
#menu {
  opacity: .75;
}
#menu:hover {
  opacity: 1;
}
.logo {
  display: block;
  margin: auto;
  align: center;
  width: 50%;
}
#goog{
  padding-top: 190px;
  padding-bottom: 28px;
  display: block;
  width:272px;
  height:92px;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Search {
  text-align: center;
  border-radius: 2px;
}
#input {
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  border: 0px solid black;
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding: 6px 9px 0px 16px;
}
#input:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
  border: 0px solid black;
}
#input:focus {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
  border: 0px solid black;
  outline: 0px solid black;
}
.searches {
  text-align: center;
  margin: 32px;
}
#searchbutt {
  background-color: #f2f2f2;
  padding: 0 16px 0 16px;
  border: 1px solid #f2f2f2;
  display: inline-block;
  text-align: center;
  color: #757575;
  font-weight:bold;
  font-size: 13px;
  line-height: 27px;
  border-radius: 2px;
}
#searchbutt:hover {
  color: black;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
  background-color: #f5f5f5;
}
.botbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);

}
.botbarstyle {
  background: #f2f2f2
}
#botbarfontcolor {
  color: #757575;
}
